/*-------------------------------------------------------------
    Project:        Astramed
    Author:         Anton Shaposhnikov
	Email:			shaposhnikov.web@gmail.com
--------------------------------------------------------------*/

html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: $primary;
  background-color: $background-color;
}


.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active, :focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: bold;
}

a, a:focus, a:hover, a:active a:visited {
  outline: 0;
  color: inherit;
  text-decoration: none;
  @include transition(1s);
}

a:focus, a:hover, a:active a:visited {
  text-decoration: underline;
  color: $blue;
  @include transition(1s);
}

/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none
}

/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}

/* ======================================
//            Layout
====================================== */

.c-container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======================================
//            Buttons
====================================== */

.main-btn {
  min-width: 180px;
  height: 47px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  color: $white;
  background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
  border-radius: 8px;
  @include transition(1);
  cursor: pointer;

  &:hover {
    background: linear-gradient(93.68deg, #FFDD2C -1.05%, #FFA132 100%);
    @include transition(1);
  }
}

.read-more-btn {
  @include flex-align(center);
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: var(--px16);
  line-height: 1.1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 0;
  transition: all .3s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }

  &:hover {
    color: var(--primary-green);
    transition: all .3s ease-in-out;
  }
}

.logo {
  @include flex-align(center);

  .logo__title {
    position: relative;
    margin-right: 25px;
    max-width: 135px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424;

    &:after {
      top: 20px;
      right: -23px;
      position: absolute;
      content: " ";
      background-color: #02839F;
      transform: rotate(90deg);
      width: 20px;
      height: 1px;
    }

    span {
      font-size: 17px;
      font-weight: 800;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 10px;
    width: 100px;
    line-height: 12px;
  }
}

.lang-switcher {
  font-size: 14px;

  a:first-child {
    margin-right: 10px;
    position: relative;

    &:after {
      top: 10px;
      right: -13px;
      position: absolute;
      content: " ";
      background-color: #333;
      transform: rotate(90deg);
      width: 13px;
      height: 1px;
    }
  }

  .active {
    font-weight: 500;
    color: #02839F;
  }
}

/* ======================================
//            General Section
====================================== */

.general__inner {
  @include flex-justify-align(space-between, center);
  position: relative;
  margin-top: 145px;
  padding-bottom: 110px;
  border-bottom: 1px solid #D3D3D3;

  .general__title {
    max-width: 600px;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    span {
      font-weight: 800;
      font-size: 75px;
      line-height: 91px;
      letter-spacing: 0.03em;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .general__desc {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 525px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
  }

  .general__img {
    max-width: 527px;
    width: 100%;
  }
}

.general__quote {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("/assets/images/general/bg-blur.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #D3D3D3;

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}