/*-------------------------------------------------------------
    Project:        Astramed
    Author:         Anton Shaposhnikov
	Email:			shaposhnikov.web@gmail.com
--------------------------------------------------------------*/

html {
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: $primary-text;
  background-color: $background-color;
  background-image: url("/assets/images/common/background.png");
  background-size: auto;
  background-position: center;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:active, :focus {
  outline: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

strong {
  font-weight: bold;
}

a, a:focus, a:hover, a:active a:visited {
  outline: 0;
  color: inherit;
  text-decoration: none;
  @include transition(1s);
}

button {
  font-family: 'Montserrat', sans-serif;
}

details summary::-webkit-details-marker {
  display: none
}

details > summary {
  list-style: none;
}

::-webkit-scrollbar { width: 3px; height: 3px;}
::-webkit-scrollbar-button { height: 0; }
::-webkit-scrollbar-thumb {height: 50px; background-color: #02839F; border-radius: 50px;}
::-webkit-scrollbar-track-piece { background-color: transparent;}

/* ======================================
//            Layout
====================================== */

.c-container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/* ======================================
//            Common used
====================================== */

.main-btn {
  @include flex-justify-align(center, center);
  min-width: 180px;
  width: 180px;
  height: 47px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  color: $white;
  background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
  border-radius: 8px;
  @include transition(1);
  cursor: pointer;

  &:hover {
    background: linear-gradient(93.68deg, #FFDD2C -1.05%, #FFA132 100%);
    @include transition(1);
  }
}

.logo {
  @include flex-align(center);

  .logo__title {
    position: relative;
    margin-right: 25px;
    max-width: 135px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424;

    &:after {
      top: 20px;
      right: -23px;
      position: absolute;
      content: " ";
      background-color: $blue;
      transform: rotate(90deg);
      width: 20px;
      height: 1px;
    }

    span {
      font-size: 17px;
      font-weight: 800;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 10px;
    width: 100px;
    line-height: 12px;
  }
}

.lang-switcher {
  font-size: 14px;

  a:first-child {
    margin-right: 10px;
    position: relative;

    &:after {
      top: 10px;
      right: -13px;
      position: absolute;
      content: " ";
      background-color: #333;
      transform: rotate(90deg);
      width: 13px;
      height: 1px;
    }
  }

  .active {
    font-weight: 500;
    color: $blue;
  }
}

.title {
  font-weight: 500;
  font-size: 40px;
  color: $primary-text;
}

.pre-title {
  position: absolute;
  top: 110px;
  left: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
}

.linker-btn {
  @include flex-align(center);
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  transition: all .2s ease-in-out;
  cursor: pointer;

  svg {
    display: block;
    width: 15px;
    height: 8px;
    margin-left: 10px;

    path {
      transition: all .2s ease-in-out;
    }
  }

  &:hover {
    color: $blue;
    transition: all .2s ease-in-out;

    svg path {
      fill: $blue;
      transition: all .2s ease-in-out;
    }
  }
}

@include media-tablet {
  .main-btn {
    font-size: 12px;
    line-height: 15px;
    min-width: 155px;
  }
}


/* ======================================
//            Modal
====================================== */

.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  padding: 15px;
  z-index: 99998;

  @include media-tablet {
    padding: 10px;
  }
}

.modal {
  width: 100%;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  cursor: auto;
  border-radius: 8px;
  position: relative;
  z-index: 99999;
  overflow-y: scroll;
}

.modal__close {
  @include flex-justify-align(center, center);
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;

  img {
    width: 10px;
    height: 10px;
  }
}

.modal-bg--active {
  display: flex;
}

// Donation Props Modal
.props-modal {
  max-width: 1200px;
  @include media-tablet {
    max-width: 693px;
    padding: 80px 97px 30px;
  }

  @include media-mobile {
    max-width: 332px;
    padding: 50px 16px;
    border-radius: 10px;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 328px;
    height: 305px;
    z-index: -1;
    background: url("../../images/system/any/modal-yellow-blur.png") no-repeat center / 100%;

    @include media-tablet {
      top: -32px;
      left: 23px;
    }

    @include media-mobile {
      top: -66px;
      left: -90px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 32px;

    @include media-mobile {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 102px;

    @include media-tablet {
      gap: 30px;
      flex-direction: column;
    }

    @include media-mobile {
      gap: 20px;
    }
  }

  &__column {
    max-width: 408px;
    width: 100%;

    @include media-mobile {
      max-width: 100%;
    }
  }

  &__list-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;

    @include media-mobile {
      font-size: 16px;
      line-height: 20px;
    }

    span {
      font-weight: 600;
      color: $blue;
      white-space: nowrap;
    }
  }

  &__pay-pal-icon {
    display: inline-block;
    vertical-align: middle;
    width: 71px;
    height: 19px;
  }

  dd {
    line-height: 20px;

    &:not(:last-child) {
      margin-bottom: 50px;

      @include media-tablet {
        margin-bottom: 30px;
      }

      @include media-tablet {
        margin-bottom: 20px;
      }
    }
  }
}

/* ======================================
//            General Section
====================================== */

.general__inner {
  @include flex-justify-align(space-between, center);
  position: relative;
  border-bottom: 1px solid $border-color;

  @include media-mobile {
    flex-direction: column;
    position: relative;
  }


  .general__title {
    max-width: 600px;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.02em;
    text-transform: uppercase;

    @include media-mobile {
          font-size: 35px;
          line-height: 43px;
          max-width: 280px;

      span {
        font-size: 35px;
        line-height: 43px;
      }
    }

    span {
      font-weight: 800;
      font-size: 75px;
      line-height: 91px;
      letter-spacing: 0.03em;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .general__desc {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 525px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;

    @include media-mobile {
      font-size: 16px;
      max-width: 310px;
      margin-top: 25px;
      margin-bottom: 35px;
    }

  }


  .general__img {
    max-width: 527px;
    width: 100%;

    @include media-tablet {
      max-width: 505px;
      position: absolute;
      right: -60px;
      top: 145px;
    }

    @include media-mobile {
      position: relative;
      max-width: 335px;
      top: 0;
      right: 0;
    }
  }
}

.general__quote {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("/assets/images/general/bg-blur.png");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid $border-color;

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }
}


/* ======================================
//            How-it-works Section
====================================== */

.how-it-works__inner {
  display: flex;
  padding-top: 110px;
  padding-bottom: 110px;
  border-bottom: 1px solid $border-color;
  position: relative;

  @include media-tablet {
    padding-bottom: 80px;
    padding-top: 80px;
  }

  .how-it-works__wrap {
    width: 100%;
  }

  .how-it-works__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    width: 100%;

    @include media-tablet {
      max-width: 512px;
    }

    p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: $primary-text;
    }

    &--hidden-text {
      display: none;

      &.active {
        display: block;
      }
    }

    .linker-btn {
      margin-left: auto;
      margin-top: 10px;
    }
  }
}

.how-it-works__cards {
  @include flex-justify(start);
  flex-wrap: wrap;
  width: 100%;
  margin-top: 50px;

  @include media-tablet {
    margin-top: 30px;
    justify-content: space-between;
  }

  .how-it-works__card {
    padding: 20px;
    margin-right: 22px;
    margin-bottom: 30px;
    width: 23%;
    height: 160px;
    background: linear-gradient(108.47deg, #FFFFFF -0.63%, rgba(255, 255, 255, 0) 105.15%);
    filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
    backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 1px solid #F6F6F6;

    @include media-tablet {
      width: 48%;
      margin-right: 0;
    }

    &:hover {
      background: linear-gradient(286.14deg, rgba(2, 131, 159, 0.2) 0%, rgba(251, 255, 51, 0.174) 44.39%, rgba(255, 255, 255, 0) 87.33%), linear-gradient(108.47deg, #FFFFFF -0.63%, rgba(255, 255, 255, 0) 105.15%);
      filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
    }

    .how-it-works__card-title {
      max-width: 227px;
      width: 100%;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: $primary-text;
    }

    .how-it-works__card-btns {
      @include flex-justify-align(space-between, center);
      margin-top: 40px;

      .how-it-works__card-download {
        svg {
          margin-right: 8px;
        }
      }
    }
  }
}


/* ======================================
//          Donation Section
====================================== */

.donation__inner {
  position: relative;
  margin-bottom: 100px;
  margin-top: 125px;

  @include media-tablet {
    margin-top: 80px;
    margin-bottom: 80px;
  }

  .pre-title {
    top: 25px;
  }

  .donation__content {
    @include flex-justify-align(end, center);
    margin-left: auto;

    .donation__content-info {
      max-width: 690px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;

      @include media-tablet {
        max-width: 515px;
      }

      p {
        margin-top: 35px;
        margin-bottom: 30px;

        @include media-tablet {
          margin-top: 30px;
        }
      }

      .donation__content-btns {
        @include flex-align(center);

        .linker-btn {
          margin-left: 25px;
        }
      }
    }

    .donation__content-img {
      max-width: 222px;
      width: 100%;

      @include media-tablet {
        display: none;
      }
    }
  }
}

/* ======================================
//          Donation Page
====================================== */

.donation-page {
  padding-top: 50px;
}

// Donation Second Step Modal
.second-step {
  max-width: 1200px;
  padding: 50px 100px;
  background-color: #fffff8;

  @include media-tablet {
    max-width: 693px;
    padding: 50px 80px;
  }

  @include media-mobile {
    max-width: 332px;
    padding: 50px 16px;
    border-radius: 10px;
  }

  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 30px;
  }
}

.payment-info {
  max-width: 997px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  &__heading {
    height: 70px;
    background: linear-gradient(90.34deg, #FFFFFF 2.39%, rgba(255, 255, 255, 0) 100.75%);
    filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
    backdrop-filter: blur(20px);
    border-radius: 10px;
  }
}