// Flex
@mixin flex-align($align-position) {
  display: flex;
  align-items: $align-position;
}

@mixin flex-justify($justify-position) {
  display: flex;
  justify-content: $justify-position;
}

@mixin flex-justify-align($justify-position, $align-position) {
  display: flex;
  justify-content: $justify-position;
  align-items: $align-position;
}

@mixin section-border-top($top) {
  position: absolute;
  content: "";
  top: $top;
  left: 0;
  background-color: #d3d3d3;
  width: 100%;
  height: 1px;
}

@mixin section-border-bottom($bottom) {
  position: absolute;
  content: "";
  bottom: $bottom;
  left: 0;
  background-color: #d3d3d3;
  width: 100%;
  height: 1px;
}

/* Breakpoint mixins */
@mixin media-mobile {
  @media (max-width: $mobile-bp) {
    @content;
  }
}

@mixin media-low-mobile {
  @media (max-width: $low-mobile-bp) {
    @content;
  }
}
