.footer {

  .footer__inner {
    margin-bottom: 35px;
    padding-top: 35px;
    border-top: 1px solid #D3D3D3;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 500;
    color: $secondary;

    .footer__main-info, .footer__contact-info, .footer__sub-info {
      @include flex-justify-align(space-between, center)
    }

    .footer__main-info {
      margin-bottom: 35px;

      @include media-tablet {
        align-items: normal;
      }
    }

    .footer__contact-info {
      @include media-tablet {
        flex-direction: column;
        align-items: start;
      }
    }

    .footer__contact-item {
      margin-right: 80px;

      @include media-tablet {
        margin-bottom: 6px;
      }

      &:last-child {
        margin-right: 0;

        @include media-tablet {
          margin-bottom: 0;
        }
      }

      .footer__contact-link {
        @include flex-align(center);

        svg {
          margin-right: 5px;
        }
      }
    }

    .footer__sub-info {

      p:first-child {
        max-width: 337px;
        width: 100%;

        @include media-tablet {
          max-width: 160px;
        }
      }

      .footer__sub-info--group p {
        text-align: right;
        margin-bottom: 10px;
      }
    }
  }
}
