.footer {
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;

  &:after {
    @include section-border(-35px);
  }

  .footer__inner {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: 500;
    color: $secondary;

    .footer__main-info, .footer__contact-info, .footer__sub-info {
      @include flex-justify-align(space-between, center)
    }

    .footer__main-info {
      margin-bottom: 35px;
    }

    .footer__contact-item {
      margin-right: 80px;

      &:last-child {
        margin-right: 0;
      }

      .footer__contact-link {
        @include flex-align(center);

        svg {
          margin-right: 5px;
        }
      }
    }

    .footer__sub-info {

      p:first-child {
        max-width: 337px;
        width: 100%;
      }

      p:nth-child(2) {
        max-width: 140px;
        width: 100%;
      }
    }
  }
}