.header {
  &__inner {
   @include flex-justify-align(space-between, center);
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid $border-color;
  }

  &__btn-group {
    @include flex-align(center);
    gap: 24px;
  }
}

.nav-list {
  @include flex-align(center);
  gap: 70px;

    a:focus, a:hover, a:active a:visited {
      text-decoration: underline;
      color: $blue;
      @include transition(1s);
    }
}

@include media-mobile {
  @media (max-width: $mobile-bp) {
    .header__btn-group {
      .main-btn {
        display: none;
      }
    }
  }
}