.insurance-case {
  padding: 110px 0;

  &__inner {
    max-width: 1080px;
    width: 100%;
    margin-bottom: 80px;
  }

  .contacts-list {
    margin-top: 30px;

    & li {
      max-width: 275px;

      &:first-child {
        margin-right: 20px;
      }
    }
  }

  &__blanks {
    margin-bottom: 100px;
  }

  & h2 {
    margin-bottom: 35px;
  }

  p {

  }

  &__text a {
    color: var(--primary-green);
    font-weight: bold;
  }
}