@charset "UTF-8";
/* Breakpoint mixins */
/*-------------------------------------------------------------
    Project:        Astramed
    Author:         Anton Shaposhnikov
	Email:			shaposhnikov.web@gmail.com
--------------------------------------------------------------*/
/* line 7, ../scss/common.scss */
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

/* line 13, ../scss/common.scss */
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #333;
  background-color: #fff; }

/* line 27, ../scss/common.scss */
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden; }

/* line 34, ../scss/common.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

/* line 41, ../scss/common.scss */
:active, :focus {
  outline: none; }

/* line 45, ../scss/common.scss */
img {
  display: block;
  width: 100%;
  max-width: 100%; }

/* line 51, ../scss/common.scss */
ul {
  list-style-type: none; }

/* line 55, ../scss/common.scss */
strong {
  font-weight: bold; }

/* line 60, ../scss/common.scss */
a, a:focus, a:hover, a:active a:visited {
  outline: 0;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in; }

/* line 67, ../scss/common.scss */
button {
  font-family: 'Montserrat', sans-serif; }

/* ======================================
//            Layout
====================================== */
/* line 75, ../scss/common.scss */
.c-container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ======================================
//            Common used
====================================== */
/* line 86, ../scss/common.scss */
.main-btn {
  min-width: 180px;
  height: 47px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
  border-radius: 8px;
  -webkit-transition: all 1 ease-in;
  transition: all 1 ease-in;
  cursor: pointer; }
  /* line 99, ../scss/common.scss */
  .main-btn:hover {
    background: linear-gradient(93.68deg, #FFDD2C -1.05%, #FFA132 100%);
    -webkit-transition: all 1 ease-in;
    transition: all 1 ease-in; }

/* line 105, ../scss/common.scss */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  /* line 108, ../scss/common.scss */
  .logo .logo__title {
    position: relative;
    margin-right: 25px;
    max-width: 135px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424; }
    /* line 120, ../scss/common.scss */
    .logo .logo__title:after {
      top: 20px;
      right: -23px;
      position: absolute;
      content: " ";
      background-color: #02839F;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 20px;
      height: 1px; }
    /* line 131, ../scss/common.scss */
    .logo .logo__title span {
      font-size: 17px;
      font-weight: 800;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  /* line 140, ../scss/common.scss */
  .logo p {
    font-size: 10px;
    width: 100px;
    line-height: 12px; }

/* line 147, ../scss/common.scss */
.lang-switcher {
  font-size: 14px; }
  /* line 150, ../scss/common.scss */
  .lang-switcher a:first-child {
    margin-right: 10px;
    position: relative; }
    /* line 154, ../scss/common.scss */
    .lang-switcher a:first-child:after {
      top: 10px;
      right: -13px;
      position: absolute;
      content: " ";
      background-color: #333;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 13px;
      height: 1px; }
  /* line 166, ../scss/common.scss */
  .lang-switcher .active {
    font-weight: 500;
    color: #02839F; }

/* line 172, ../scss/common.scss */
.title {
  font-weight: 500;
  font-size: 40px;
  color: #333; }

/* line 178, ../scss/common.scss */
.pretitle {
  position: absolute;
  top: 110px;
  left: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%; }

/* line 187, ../scss/common.scss */
.linker-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer; }
  /* line 197, ../scss/common.scss */
  .linker-btn svg {
    display: block;
    width: 15px;
    height: 8px;
    margin-left: 10px; }
    /* line 203, ../scss/common.scss */
    .linker-btn svg path {
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
  /* line 208, ../scss/common.scss */
  .linker-btn:hover {
    color: #02839F;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    /* line 212, ../scss/common.scss */
    .linker-btn:hover svg path {
      fill: #02839F;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }

/* ======================================
//            General Section
====================================== */
/* line 223, ../scss/common.scss */
.general__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 145px;
  padding-bottom: 110px;
  border-bottom: 1px solid #D3D3D3; }
  /* line 230, ../scss/common.scss */
  .general__inner .general__title {
    max-width: 600px;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.02em;
    text-transform: uppercase; }
    /* line 238, ../scss/common.scss */
    .general__inner .general__title span {
      font-weight: 800;
      font-size: 75px;
      line-height: 91px;
      letter-spacing: 0.03em;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  /* line 249, ../scss/common.scss */
  .general__inner .general__desc {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 525px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; }
  /* line 259, ../scss/common.scss */
  .general__inner .general__img {
    max-width: 527px;
    width: 100%; }

/* line 265, ../scss/common.scss */
.general__quote {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("/assets/images/general/bg-blur.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #D3D3D3; }
  /* line 274, ../scss/common.scss */
  .general__quote p {
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center; }

/* ======================================
//            How-it-works Section
====================================== */
/* line 290, ../scss/common.scss */
.how-it-works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 110px;
  border-bottom: 1px solid #D3D3D3;
  position: relative; }
  /* line 298, ../scss/common.scss */
  .how-it-works__inner .how-it-works__content {
    margin: 0 auto;
    max-width: 690px;
    width: 100%; }
    /* line 303, ../scss/common.scss */
    .how-it-works__inner .how-it-works__content p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #333; }
    /* line 311, ../scss/common.scss */
    .how-it-works__inner .how-it-works__content .how-it-works__content--hidden-text {
      display: none; }
    /* line 315, ../scss/common.scss */
    .how-it-works__inner .how-it-works__content .linker-btn {
      margin-left: auto;
      margin-top: 10px; }

/* ======================================
//          Donation Section
====================================== */
/* line 326, ../scss/common.scss */
.donation__inner {
  position: relative;
  margin-bottom: 100px;
  margin-top: 125px; }
  /* line 331, ../scss/common.scss */
  .donation__inner .pretitle {
    top: 25px; }
  /* line 335, ../scss/common.scss */
  .donation__inner .donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto; }
    /* line 339, ../scss/common.scss */
    .donation__inner .donation__content .donation__content-info {
      max-width: 690px;
      width: 100%; }
      /* line 343, ../scss/common.scss */
      .donation__inner .donation__content .donation__content-info p {
        margin-top: 35px;
        margin-bottom: 30px; }
      /* line 348, ../scss/common.scss */
      .donation__inner .donation__content .donation__content-info .donation__content-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        /* line 351, ../scss/common.scss */
        .donation__inner .donation__content .donation__content-info .donation__content-btns .linker-btn {
          margin-left: 25px; }
    /* line 357, ../scss/common.scss */
    .donation__inner .donation__content .donation__content-img {
      max-width: 222px;
      width: 100%; }

/* line 2, ../../../modules/header/Header.module.scss */
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D3D3D3; }
/* line 9, ../../../modules/header/Header.module.scss */
.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px; }

/* line 15, ../../../modules/header/Header.module.scss */
.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px; }
  /* line 19, ../../../modules/header/Header.module.scss */
  .nav-list a:focus, .nav-list a:hover, .nav-list a:active a:visited {
    text-decoration: underline;
    color: #02839F;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in; }

/* line 3, ../../../modules/footer/Footer.module.scss */
.footer .footer__inner {
  margin-bottom: 35px;
  padding-top: 35px;
  border-top: 1px solid #D3D3D3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  font-weight: 500;
  color: #616161; }
  /* line 14, ../../../modules/footer/Footer.module.scss */
  .footer .footer__inner .footer__main-info, .footer .footer__inner .footer__contact-info, .footer .footer__inner .footer__sub-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  /* line 18, ../../../modules/footer/Footer.module.scss */
  .footer .footer__inner .footer__main-info {
    margin-bottom: 35px; }
  /* line 22, ../../../modules/footer/Footer.module.scss */
  .footer .footer__inner .footer__contact-item {
    margin-right: 80px; }
    /* line 25, ../../../modules/footer/Footer.module.scss */
    .footer .footer__inner .footer__contact-item:last-child {
      margin-right: 0; }
    /* line 29, ../../../modules/footer/Footer.module.scss */
    .footer .footer__inner .footer__contact-item .footer__contact-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      /* line 32, ../../../modules/footer/Footer.module.scss */
      .footer .footer__inner .footer__contact-item .footer__contact-link svg {
        margin-right: 5px; }
  /* line 40, ../../../modules/footer/Footer.module.scss */
  .footer .footer__inner .footer__sub-info p:first-child {
    max-width: 337px;
    width: 100%; }
  /* line 45, ../../../modules/footer/Footer.module.scss */
  .footer .footer__inner .footer__sub-info p:nth-child(2) {
    max-width: 140px;
    width: 100%; }

/* Preloader */
/* Анимация вращения лого */
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* line 26, ../../../modules/preloader/Preloader.module.scss */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-green-bg);
  z-index: 999999; }
  /* line 35, ../../../modules/preloader/Preloader.module.scss */
  .preloader__row {
    position: relative;
    top: calc((100% - 227px) / 2);
    left: calc((100% - 227px) / 2);
    width: 227px;
    height: 227px;
    z-index: 9999999;
    background: url("/assets/images/system/any/preloader.svg") no-repeat center center;
    background-size: 227px;
    -webkit-animation: spin 15s linear 0s infinite;
    animation: spin 15s linear 0s infinite; }

/* line 50, ../../../modules/preloader/Preloader.module.scss */
.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0; }

/* line 57, ../../../modules/preloader/Preloader.module.scss */
.loaded .preloader {
  display: none; }

/*# sourceMappingURL=main.css.map */